/* common */
.align-left { text-align: left }
.align-right { text-align: right }
.clear { clear: both }

body.fbremix { font-family: 'Droid Sans', 'Arial', sans-serif; background: #fff }
    .fbremix .header { height: 72px; width: 242px; }
        .fbremix .header h1 { font-size: 40px; margin: 24px 0 0 20px; font-family: 'Bevan', serif; color: #008500 }
        .fbremix .header #auth-loggedout { margin: 12px 0 0 20px }
        .fbremix .header #auth-loggedin { margin: 12px 0 0 0; text-align:center; font-size: 14px; font-weight: bold }

/* 
    BROWSE MODE
    ===========
*/
.fbremix.mode-browse .left-pane { float: left; min-height: 100%; max-width: 292px; margin: -96px 0 0 -20px !important; padding-top: 128px; background: #e6e6e6 }
.fbremix.mode-browse .right-pane { float: left; margin-left: 0; margin: -96px 0 0 0 !important; padding-top: 32px; }

/* Wall View */
.fbremix.mode-browse.view-wall #actors-list { margin-left: 0 }
    .fbremix.mode-browse.view-wall #actors-list li { clear: both; list-style: none; margin: 2px 0 2px 0; padding: 4px 0 4px 0; height: 40px; cursor: pointer }
        .fbremix.mode-browse.view-wall #actors-list li.selected { background: #f6f6f6 }
    .fbremix.mode-browse.view-wall #actors-list li h2.actor { max-width: 292px; overflow: hidden; white-space: nowrap; font-weight: lighter; font-size: 16px; font-family: 'Droid Sans', sans-serif }
    .fbremix.mode-browse.view-wall #actors-list li .profile-pic { text-align: right; margin: 0 12px 0 24px; float: left }
    .fbremix.mode-browse.view-wall #actors-list li .profile-pic img { max-width: 40px; max-height: 40px; }

.fbremix.mode-browse.view-wall #actors-off-list { margin-left: 0; margin-bottom: 12px }
    .fbremix.mode-browse.view-wall #actors-off-list li { list-style: none; float: left; padding: 5px; cursor: pointer }
        .fbremix.mode-browse.view-wall #actors-off-list li img { width: 36px; height: 36px; }
        
.fbremix.mode-browse.view-wall #post-container { }

    .fbremix.mode-browse.view-wall #post-container .post-header .profile-pic { text-align: right; max-width: 200px; float: left; }
    .fbremix.mode-browse.view-wall #post-container .post-header .profile-pic img { max-height: 180px; max-width: 180px; }
    .fbremix.mode-browse.view-wall #post-container .post-header .text .story { margin-top: 12px; font-weight: bold }

    .fbremix.mode-browse.view-wall #post-container .post-content { margin-top: 12px }
        .fbremix.mode-browse.view-wall #post-container .post-content .picture { margin-left: 0 }
            .fbremix.mode-browse.view-wall #post-container .post-content .picture > img { max-width: 100% }

    .fbremix.mode-browse.view-wall #post-container .comments-container { margin-top: 32px; }
        .fbremix.mode-browse.view-wall #post-container .comments-container ul li { list-style: none; margin-bottom: 12px; }
            .fbremix.mode-browse.view-wall #post-container .comments-container ul li h6 { font-size: 14px }    
            .fbremix.mode-browse.view-wall #post-container .comments-container ul li .message { font-size: 12px }        
